<div class="row justify-content-center">
    <div class="col-lg-11 header-container">
        <div class="d-flex justify-content-between align-items-center header rounded">
            <H4 class="align-self-center header-align">Availabilities list</H4>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11 availability-list">
        <app-availability-item 
            *ngFor="let availability of availabilities; let i = index"
            [availability] = "availability">
        </app-availability-item>
    </div>
</div>