<a  [routerLink]="[index]"
    routerLinkActive="selected"
    class="list-group-item clearfix list-group-item-action rounded">
    <span class="float-right badge badge-primary badge-pill">{{product.price | currency}}</span>
    <div>
        <h4 class="list-group-item-geading">#{{product.id}} {{product.name}}</h4>
        <div class="d-flex justify-content-between">
            <div>
                <small class="font-weight-bold">Producer: </small>
                <small class="text-muted">{{product.producer.name}}</small>
            </div>
            <div>
                <small class="font-weight-bold">Country: </small>
                <small class="text-muted">{{product.producer.country.name}}</small>
            </div>
            <div>
                <small class="font-weight-bold">Category: </small>
                <small class="text-muted">{{product.category.name}}</small>
            </div>
        </div>
    </div>
</a>