<a  [routerLink]="[index, 'contracts']"
    routerLinkActive="selected"
    class="list-group-item clearfix list-group-item-action rounded">
    <div>
        <div class="row d-flex justify-content-around">
            <div>
                <h6 class="font-weight-bold">Name: </h6>
                <h6 class="text-muted">{{provider.name}}</h6>
            </div>
            <div>
                <h6 class="font-weight-bold">Phone: </h6>
                <h6 class="text-muted">{{provider.phoneNumber}}</h6>
            </div>
            <div>
                <h6 class="font-weight-bold">City: </h6>
                <h6 class="text-muted">{{provider.city.name}}</h6>
            </div>
        </div>
        <!-- <div class="row d-flex justify-content-around">
            <div>
                <h6 class="font-weight-bold">Email: </h6>
                <h6 class="text-muted">{{provider.email}}</h6>
            </div>
        </div> -->
    </div>
</a>