<div class="row mt-5">
    <div class="col-lg-6">
        <form [formGroup] = "producerForm" (ngSubmit)="onProducerSubmit()" class="form-custom rounded">
            <h4>Add producer</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Producer name:</label>
                                <input 
                                    type="text" 
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="countryId">Country:</label>
                            <select
                                id="countryId" 
                                formControlName="countryId" 
                                class="form-control">
                                <option 
                                 *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success" style="margin-right: 2vh;"
                    [disabled]="!producerForm.valid">Add</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <form [formGroup] = "cityForm" (ngSubmit)="onCitySubmit()" class="form-custom rounded">
            <h4>Add city</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">City name:</label>
                                <input 
                                    type="text" 
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="countryId">Country:</label>
                            <select
                                id="countryId" 
                                formControlName="countryId" 
                                class="form-control">
                                <option 
                                 *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success" style="margin-right: 2vh;"
                    [disabled]="!cityForm.valid">Add</button>
            </div>
        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-3">
        <form [formGroup] = "countryForm" (ngSubmit)="onCountrySubmit()" class="form-custom rounded">
            <h4>Add country</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="name">Country name:</label>
                                <input 
                                    type="text" 
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success" style="margin-right: 2vh;"
                    [disabled]="!countryForm.valid">Add</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3">
        <form [formGroup] = "valueTypeForm" (ngSubmit)="onValueTypeSubmit()" class="form-custom rounded">
            <h4>Add value type</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="type">Value type:</label>
                                <input 
                                    type="text" 
                                    id="type"
                                    class="form-control"
                                    formControlName="type">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success" style="margin-right: 2vh;"
                    [disabled]="!valueTypeForm.valid">Add</button>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <form [formGroup] = "characteristicForm" (ngSubmit)="onCharacteristicSubmit()" class="form-custom rounded">
            <h4>Add characteristic</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Characteristic name:</label>
                                <input 
                                    type="text" 
                                    id="name"
                                    class="form-control"
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="valueTypeId">Value type:</label>
                            <select
                                id="valueTypeId" 
                                formControlName="valueTypeId" 
                                class="form-control">
                                <option 
                                 *ngFor="let valueType of valueTypes" [ngValue]="valueType.id">{{ valueType.type }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                    <button type="submit" class="btn btn-success" style="margin-right: 2vh;"
                    [disabled]="!characteristicForm.valid">Add</button>
            </div>
        </form>
    </div>
</div>