<div class="sticky-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a class="navbar-brand">DishShop</a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/products">
                        Catalog
                    </a>
                </li>
                <li class="nav-item"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/shops">
                        Shops
                    </a>
                </li>
                <li class="nav-item"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/providers">
                        Providers
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
