<div class="sticky-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor: pointer;"
            [routerLink] = "['']"
            >DishShop</a>
        </div>
        
        <div *ngIf="authService.isAuthenticated()" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/products">
                        Catalog
                    </a>
                </li>
                <li class="nav-item"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/shops">
                        Shops
                    </a>
                </li>
                <li class="nav-item"
                    *ngIf="userService.isUserManagerOrAdmin()"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/providers">
                        Providers
                    </a>
                </li>
                <li class="nav-item"
                    *ngIf="userService.isUserManagerOrAdmin()"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/supplies">
                        Supplies
                    </a>
                </li>
                <li class="nav-item"
                *ngIf="userService.isUserAdmin()"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/utilities">
                        Utilities
                    </a>
                </li>
                <li class="nav-item"
                *ngIf="userService.isUserAdmin()"
                    routerLinkActive="active">
                    <a style="cursor: pointer;" 
                        class="nav-link"
                        routerLink="/statistics">
                        Statistics
                    </a>
                </li>
            </ul>

            <a style="cursor: pointer; color: black;" 
                class="nav-link"
                (click)="logout()">
                Logout
            </a>
        </div>
    </nav>
</div>
