<div class="container">
    <div class="row justify-content-around">
        <div class="col-lg-6 manager-info rounded">
            <h2 class="manager-header">Manager info:</h2>
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">First name:</strong>
                      <span class="list-group-right">Oleh</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">Last name:</strong>
                      <span class="list-group-right">Lyubuskiy</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">Phone number:</strong>
                      <span class="list-group-right">+380680542929</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-fixed">
                      <strong class="list-group-left">Email:</strong>
                      <span class="list-group-right">oleh.lyubuskiy@gmail.com</span>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>