p, h5, h6, h1{
    margin: 0px;
}


.price {
    display:table;
    margin:5px auto;
    margin-bottom: 0px;
    font-size: 20px;
}

.description{
    margin: 0px 20px;
    text-align: center;
    max-height: 10vh;
    overflow: auto;
}

.characteristics{
    overflow: auto;
    max-height: 20vh;
}

.edit-btn{
    position: absolute;
    right: 5px;
    top: 5px;  
}