<div class="row justify-content-center">
    <div class="col-lg-9">
        <form [formGroup] = "contractForm" (ngSubmit)="onSubmit()" class="form-custom rounded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="startDate">Start date</label>
                                <input 
                                    type="date" 
                                    id="startDate"
                                    class="form-control"
                                    formControlName="startDate">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="endDate">End date</label>
                                <input 
                                    type="date" 
                                    id="endDate"
                                    class="form-control"
                                    formControlName="endDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12" formArrayName="contractsContents">
                    <div class="row"
                        *ngFor="let content of contractForm.get('contractsContents')['controls']; let i = index"
                        [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col-lg-5" >
                            <input 
                            formControlName = "productId"
                            type="number" 
                            class="form-control">
                        </div>
                        <div class="col-lg-5" >
                            <input 
                            formControlName = "pricePerUnit"
                            type="number" 
                            class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <button type="button" style="width: 100%;" class="btn btn-danger" (click)="onDeleteContent(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <button class="btn btn-success" type="button" (click)="onAdd()">Add product</button>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-success"
                    style="width: 100%;"
                    [disabled]="!contractForm.valid">Save</button>
            </div>
            </div>
        </form>
    </div>
</div>