<div class="row justify-content-center">
    <div class="col-lg-11 header-container">
        <div class="d-flex justify-content-between align-items-center header rounded">
            <H4 class="align-self-center header-align">Contract list</H4>
            <button class="btn btn-success btn-align" routerLink="new" *ngIf="userService.isUserAdmin()">+</button>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11 contract-list">
        <app-contract-item 
            *ngFor="let contract of contracts; let i = index"
            [contract] = "contract"
            [index] = "contract.id">
        </app-contract-item>
    </div>
</div>