.save{
    margin-left: 5px;
}

.form-custom{
    border: 1px solid lightgray;
    padding: 10px;
    max-height: 80vh;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 1px solid red;
}

.characteristics{
    overflow: auto;
    max-height: 20vh;
    background-color: #f8f9fa;
    padding-bottom: 1vh;
}

::-webkit-scrollbar {
    padding: 0px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}