<div class="row">
    <div class="col-lg-12">
        <form [formGroup] = "productForm" (ngSubmit)="onSubmit()" class="form-custom rounded">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            id="name"
                            class="form-control"
                            formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            type="text" 
                            id="description"
                            class="form-control"
                            rows="3"
                            formControlName="description">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input 
                            type="number" 
                            id="price"
                            class="form-control"
                            formControlName="price">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="categoryId">Category</label>
                        <select id="categoryId" formControlName="categoryId" class="form-control">
                            <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="producerId">Producer</label>
                        <select id="producerId" formControlName="producerId" class="form-control">
                            <option *ngFor="let producer of producers" [ngValue]="producer.id">{{ producer.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12" formArrayName="productsCharacteristics">
                    <div class="row"
                        *ngFor="let characteristic of productForm.get('productsCharacteristics')['controls']; let i = index"
                        [formGroupName]="i"
                        style="margin-top: 10px;">
                        <div class="col-lg-8">
                            <select formControlName="characteristicId" class="form-control">
                                <option *ngFor="let characteristic of allCharacteristics" [ngValue]="characteristic.id">
                                    {{ characteristic.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2" >
                            <input 
                            *ngIf="canCharacteristicHoldValue(characteristic)"
                            formControlName = "value"
                            type="number" 
                            class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <button type="button" style="width: 100%;" class="btn btn-danger" (click)="onDeleteCharacteristic(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-8">
                    <button class="btn btn-success" type="button" (click)="onAdd()">Add characteristic</button>
                </div>
                <div class="col-lg-2">
                        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-success"
                    style="width: 100%;"
                    [disabled]="!productForm.valid">Save</button>
            </div>
            </div>
        </form>
    </div>
</div>