<a  [routerLink]="[index]"
    routerLinkActive="selected"
    class="list-group-item clearfix list-group-item-action rounded">
    <div>
        <div class="d-flex justify-content-between">
            <div>
                <h6 class="font-weight-bold">City: </h6>
                <h6 class="text-muted">{{shop.city.name}}</h6>
            </div>
            <div>
                <h6 class="font-weight-bold">Street: </h6>
                <h6 class="text-muted">{{shop.streetName}}, {{shop.streetIdentifier}}</h6>
            </div>
            <div>
                <h6 class="font-weight-bold">Phone: </h6>
                <h6 class="text-muted">{{shop.phoneNumber}}</h6>
            </div>
        </div>
    </div>
</a>